<div class="dashboard-container">
    <!-- ATD Card -->
    <mat-card class="dashboard-card" [routerLink]="['/atd']">
      <mat-card-header>
        <mat-icon mat-card-avatar>assignment</mat-icon> <!-- ATD Icon -->
        <mat-card-title>ATD Visualization</mat-card-title>
      </mat-card-header>
    </mat-card>
  
    <!-- Line Chart Card -->
    <mat-card class="dashboard-card" [routerLink]="['/history']">
      <mat-card-header>
        <mat-icon mat-card-avatar>show_chart</mat-icon> <!-- Line Chart Icon -->
        <mat-card-title>Line Chart</mat-card-title>
      </mat-card-header>
    </mat-card>