<svg width="600" height="800" viewBox="0 0 600 750" >
    <!-- ATD SVG -->
    <image href="assets/svg/atd.svg" width="600" height="750" />
  
    <!-- Dynamically Generated Sensors with Numbers -->
    <ng-container *ngFor="let sensor of sensors; let i = index">
      <text [attr.x]="sensor.x - 30" [attr.y]="sensor.y" font-size="20" fill="black">
        {{ sensor.id }}
      </text>
  
      <circle [attr.cx]="sensor.x" 
              [attr.cy]="sensor.y" 
              r="15" 
              stroke="black"
              stroke-width="2"
              [attr.fill]="sensorColors[i]" />
    </ng-container>
  </svg>
  