<div class="date-time-picker">
  <!-- i dont have dynamic records so filter is not working -->
    <mat-form-field appearance="outline">
      <mat-label>Start Date & Time</mat-label>
      <div class="date-time-wrapper">
        <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="startDate" />
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        
        <input matInput type="time" [(ngModel)]="startTime" class="time-input" />
      </div>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>End Date & Time</mat-label>
      <div class="date-time-wrapper">
        <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
  
        <input matInput type="time" [(ngModel)]="endTime" class="time-input" />
      </div>
    </mat-form-field>
  
    <button mat-raised-button color="primary" class="update-chart-button" (click)="updateChart()">Update Chart</button>
  </div>
<canvasjs-chart [options]="chartOptions"></canvasjs-chart>